<nav class="navbar navbar-expand-lg border-bottom border-dark shadow">
  <div class="container-fluid">
    <ul class="navbar-nav">
        <li class="nav-item">
        <%= link_to '<', 'javascript:history.back()', class: "nav-link ps-3 pe-3 text-white" %>
        </li>
        </ul>
    <a class="navbar-brand text-white" href="#"><%= @title || BudgetApp %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon invert"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white ps-3" href="/">Categories</a>
        </li>
        <li class="nav-item end">
          <a class="nav-link text-white ps-3" href="/sign_out">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<p class="font-weight-bold text-center">Total Spent: $<%= @total || 0 %></p>

<div class="container">
  <% @fees.each do |fee| %>
  <div class="container">
    <div class="row border bg-white mb-3">
      <div class="col">
        <p class="font-weight-bold">
          <%= fee.name %>
        </p>
      </div>
      <div class="col">
        <p class="font-weight-bold">
          $<%= fee.amount %>
        </p>
      </div>
      </div>
    </div>
  <% end %>
</div>

<div class="fixed-bottom">
<%= button_to 'Add Transaction', new_group_fee_path(params[:id]), class: 'btn btn-primary', method: :get %>
</div>